---
import { Picture } from 'astro:assets'
import P1 from '@/assets/fotografia-chrztu.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8 py-8 xl:py-24'>
  <div
    class='lg:sticky top-32 h-fit order-last grid rounded-2xl'
  >
    <Picture
      src={P1}
      alt='Fotografia przedstawiająca moment udzielenia sakramentu chrztu świętego.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl '}
      loading={'lazy'}
    />
  </div>
  <div
    class='order-first prose-stone flex flex-col gap-16 max-w-3xl'
  >
    <article class="text-background">
      <header>
        <h2>
          Fotografia chrztu świętego - fotograf na chrzciny Puchaczów i okolice
        </h2>
      </header>
      <p>
        Chrzest polecamy obejrzeć w całości – to najlepszy sposób, by przekonać się o jakości zdjęć i stylu <strong>pracy fotografa.</strong> Warto poprosić o pokazanie pełnego reportażu z wcześniejszego zlecenia, np. podczas spotkania lub konsultacji. W ramach <strong>usługi fotografowania chrztu</strong> oferujemy również odbitki lub elegancki album – są one częścią naszych pakietów. Profesjonalny <strong>fotograf na chrzest</strong>, tak jak w naszym przypadku, pracuje na podstawie umowy lub regulaminu, co gwarantuje bezpieczeństwo i jasne zasady współpracy. Rodzinne zdjęcia oraz samą ceremonię chrztu świętego wykonujemy najczęściej w Puchaczowie i okolicach.
      </p>
    </article>
    <article class="text-background">
      <header>
        <h2>
          Fotograf na chrzciny Puchaczów - dlaczego warto wynająć?
        </h2>
      </header>
      <p>
        Jeśli chcesz, by zdjęcia z chrztu Twojego dziecka stały się piękną i wyjątkową pamiątką, warto zatrudnić profesjonalnego fotografa. Dzięki jego doświadczeniu uchwycone zostaną najważniejsze momenty i emocje, które mogłyby umknąć w natłoku wydarzeń. Fotograf nie tylko odciąża rodzinę z obowiązku robienia zdjęć, ale też dysponuje odpowiednim sprzętem i umiejętnościami, by poradzić sobie w trudnych warunkach kościoła. Co ważne – posiada także niezbędne uprawnienia do fotografowania podczas liturgii. Wybierając profesjonalistę, otrzymujesz kompleksową usługę: od konsultacji, przez starannie przygotowany reportaż, aż po gotowe odbitki i albumy – bez stresu i konieczności samodzielnego sortowania zdjęć po uroczystości.
      </p>
    </article>
    <article class="text-background">
      <header>
        <h2>Wynajmij profesjonalnego fotografa na chrzest święty w Puchaczowie i okolicach!</h2>
      </header>
      <p>Chrzest święty to jedno z najważniejszych wydarzeń w życiu rodziny – wyjątkowy, niepowtarzalny moment, którego nie da się odtworzyć. Dlatego obecność dobrego fotografa to nie tylko wartość dodana, ale wręcz konieczność. Profesjonalne zdjęcia i doświadczony fotograf sprawią, że wspomnienia z tego dnia zostaną z Wami na lata – pełne emocji, wzruszeń i rodzinnego ciepła.

        <strong> Fotografia rodzinna</strong> to nasza pasja, a <strong>reportaże z chrztu</strong> to szczególna część naszej pracy. Uwielbiamy towarzyszyć Wam w tych pięknych chwilach – zazwyczaj rozpoczynamy od zdjęć z przygotowań w domu, a potem towarzyszymy podczas ceremonii w kościele. Często wykonujemy też zdjęcia z całej Mszy Świętej, jeśli chrzest odbywa się w jej trakcie. Po uroczystości dokumentujemy rodzinne przyjęcie i wykonujemy pozowane pamiątkowe zdjęcia – najczęściej przed kościołem lub już w lokalu.</p>
        <h3>Dlaczego fotograf pracujący podczas chrztu świętego to trudna profesja?</h3>
        <p>Taki dzień to duże wyzwanie – wymaga nie tylko organizacji, ale i pełnego zaangażowania. Dobre zdjęcia chrztu to efekt połączenia doświadczenia, artystycznego podejścia, niezawodnego sprzętu i pasji. Właśnie to oferujemy jako fotografowie – z sercem i odpowiedzialnością podchodzimy do każdego zlecenia.</p>    
      </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    font-family: "Sour Gummy", sans-serif;
    color: white
    font-size: 1.75rem;
    line-height: 2.25rem;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-family: "Sour Gummy", sans-serif;
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: white
    font-size: 1.25rem;
    line-height: 2rem;
    
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
