---
import { Picture } from 'astro:assets'
import P1 from '@/assets/mlodzi.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8 py-8 xl:py-24'>
  <div
    class='lg:sticky top-32 h-fit order-last grid rounded-2xl'
  >
    <Picture
      src={P1}
      alt='Klimatyzacja chodząca w pomieszczeniu biurowym i kobieta używająca pilota od klimatyzacji.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl '}
      loading={'eager'}
    />
  </div>
  <div
    class='order-first prose-stone flex flex-col gap-16 max-w-3xl'
  >
    <article class="text-background">
      <header>
        <h2>
          Profesjonalna fotografia komunijna Puchaczów i okolice – pamiątka na całe życie
        </h2>
      </header>
      <p>
        Pierwsza Komunia Święta to wyjątkowe wydarzenie w życiu dziecka i jego rodziny. Profesjonalna sesja zdjęciowa pozwala zatrzymać te ulotne chwile na zawsze. Oferujemy pełne emocji, naturalne ujęcia, które oddają piękno i powagę tego dnia. Nasze zdjęcia to nie tylko dokumentacja, ale przede wszystkim emocjonalna opowieść o ważnym momencie. Unikamy pozowania na siłę – nasze ujęcia są autentyczne i pełne szczerego dziecięcego uśmiechu.
      </p>
     
    </article>
    <article class="text-background">
      <header>
        <h2>
          Jak pracuje fotograf z Puchaczowa - jak wygląda sesja komunijna?
        </h2>
      </header>
      <p>
        Każda sesja komunijna jest indywidualnie dopasowana do dziecka i jego rodziny. Przed sesją ustalamy lokalizację (plener, studio, kościół), czas trwania i styl zdjęć. Naszym celem jest stworzenie przyjaznej atmosfery, dzięki której dziecko czuje się swobodnie, co przekłada się na piękne, naturalne fotografie.
      </p>
    </article>
    <article class="text-background">
      <header>
        <h2>Fotograf na komunię świętą w Puchaczowie – wybierz najlepszego dla swojego dziecka</h2>
      </header>
      <p>
        Wybór odpowiedniego fotografa na komunię to gwarancja pięknych wspomnień w formie profesjonalnych zdjęć. Komunia Święta to niezwykle emocjonalne wydarzenie, które zasługuje na wyjątkową oprawę. Dobry fotograf potrafi uchwycić zarówno doniosłość chwili, jak i dziecięcą radość i naturalność.
      </p>
      
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    font-family: "Sour Gummy", sans-serif;
    color: white
    font-size: 1.75rem;
    line-height: 2.25rem;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-family: "Sour Gummy", sans-serif;
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: white
    font-size: 1.25rem;
    line-height: 2rem;
    
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
