---
import '@/styles/global.css'
import AppHeader from '@/components/AppHeader.astro'
---

<!doctype html>
<html lang='pl'>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap'
      rel='stylesheet'
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    </style>
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap'
      rel='stylesheet'
    />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />

    <meta name='robots' content='index, follow' />
    <meta name='generator' content={Astro.generator} />
    <link rel='canonical' href={'https://wasilukfoto.pl'} />
    <title>Fotograf i kamerzysta ślubny | Biała Podlaska</title>
    <meta
      name='description'
      content={'Nazywam się Tomasz Wasiluk i jako fotograf ślubny w Białej Podlaskiej uwieczniam ślub na zdjęciach i wideo. Zapraszam do zapoznania się z moją ofertą.'}
    />
    <meta name='keywords' content={'Fotografia i film ślubny Biała Podlaska'} />
    <meta property='og:type' content='website' />

    <meta
      property='og:title'
      content={'Fotografia i film ślubny | Tomasz Wasiluk Biała Podlaska'}
    />
    <meta
      property='og:description'
      content={'Nazywam się Tomasz Wasiluk i oferuję w Białej Podlaskiej usługi takie jak fotografi i film ślubny. Zapraszam do zapoznania się z portfolio i ofertą.'}
    />
    <meta property='og:url' content={'https://wasilukfoto.pl'} />
    <meta property='og:image' content={'https://wasilukfoto.pl/og-image.png'} />
    <meta property='og:locale' content={'pl'} />

    <meta name='DC.identifier' content='https://wasilukfoto.pl' />
    <meta name='DC.creator' content='Kacper Saweczko' />
    <meta name='DC.language' content='pl' />
    <meta name='DC.type' content='website' />
    <meta name='DC.format' content='text/html' />
    <meta name='DC.rights' content='Tomasz Wasiluk fotografia' />
    <meta
      name='DC.subject'
      content={'Nazywam się Tomasz Wasiluk i oferuję w Białej Podlaskiej usługi takie jak fotografi i film ślubny. Zapraszam do zapoznania się z portfolio i ofertą.'}
    />
    <script is:inline type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "LegalService",
        "name": "Tomasz Wasiluk fotografia i wideo",
        "image": "https://wasilukfoto.pl/favicon.svg",
        "@id": "https://wasilukfoto.pl",
        "url": "https://wasilukfoto.pl",
        "telephone": "+48 885 900 090",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Nowy Sławacinek 15a",
          "addressLocality": "Nowy Sławacinek",
          "postalCode": "21-500",
          "addressCountry": "PL"
        },
        "founder": {
          "@type": "Person",
          "name": "Tomasz Wasiluk"
        },
        "identifier": [
          {
            "@type": "PropertyValue",
            "propertyID": "NIP",
            "value": "5372527611"
          }
        ],
        "description": "Tomasz Wasiluk fotografia i wideo",
        "email": "tomaszwasilukpoczta@gmail.com"
      }
    </script>
  </head>
  <body class='overflow-x-hidden flex flex-col'>
    <AppHeader />

    <slot />

    <!-- <AppFooter /> -->
  </body>
</html>
