---
import { getImage } from 'astro:assets'
import myBackground from '@/assets/slub.avif'
import { Icon } from 'astro-icon/components'
import Breadcrumbs from '@/components/features/Breadcrumbs.astro'

const optimizedBackground = await getImage({
  src: myBackground,
  loading: 'eager',
  format: 'avif',
})
---

<section
  class='flex relative w-full bg-cover min-h-screen items-center justify-center'
  style={`background-image: url(${optimizedBackground.src}); background-position: center 90%;`}
>
  <div class='absolute inset-0 bg-black/30'></div>
  <div class='flex flex-col items-center p-4 backdrop-blur-sm xl:mt-16 gap-4'>
    <div class='flex flex-col gap-2 items-center'>
      <Breadcrumbs
        breadcrumbs={[
          { href: '/', children: 'Photofox' },
          { href: '/fotografia-slubna', children: 'Fotografia ślubna' },
        ]}
      />
      <h1 class='font-semibold'>Fotografia ślubna Puchaczów</h1>
    </div>
    <p
      class='sour-gummy-semibold text-4xl xl:text-[96px] tracking-wide text-center text-primary'
    >
      Fotograf na ślub
    </p>
    <p class='text-lg lg:text-xl font-medium max-w-5xl text-center'>
      Fotografia ślubna to niezwykły sposób na zatrzymanie w czasie jednego z
      najpiękniejszych dni w życiu pary młodej. To nie tylko zdjęcia, ale
      opowieść pełna emocji, wzruszeń, radości i miłości. Profesjonalne ujęcia
      pozwalają zachować wspomnienia z ceremonii, przyjęcia i drobnych, ulotnych
      chwil, które tworzą niepowtarzalną atmosferę tego wyjątkowego dnia.
    </p>
    <div
      class='flex mt-6 flex-col md:flex-row gap-4 text-xl xl:text-2xl w-full justify-center items-center sour-gummy-semibold'
    >
      <a
        href='/kontakt'
        class='flex bg-primary rounded-full items-center hover:scale-105 hover:shadow-xl duration-300 transition-all text-accent text-base w-max xl:text-2xl py-4 px-8'
      >
        Zarezerwuj termin
      </a>
    </div>
  </div>
</section>

<style>
  .double-brand-clip {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
</style>
